*{
  margin: 0;
}
header {
  background-color: #4DA1FE;
  background-image: url(../img/pattern.png);
  background-size: contain;
  padding-top: 40px;

}
header .box.image {
 width: 15%;
 height: 15%;
}

main .box.square p {
  color: #9B9B9B;
}

main .box.square span{
  color: #5FA7C3;
}

main .box.data {
  color: #9B9B9B;
  font-size: smaller;
}
main .box.didascalie {
  font-size: small;
}
.evidenziatore span {
  background-color: yellow;
}

main .table{
  text-align: left;
}

footer h3 {
  color: #9B9B9B;
}

footer .image-foot {
  background-image: url(../img/monitor.jpg);
  background-repeat: no-repeat;
  min width: 160px;
  min-height: 200px;
  color: white;
  font-size: x-large;
}

footer .image--foot {
  background-image: url(../img/graph.jpg);
  background-repeat: no-repeat;
  min-width: 160px;
  min-height: 200px;
  color: white;
  font-size: x-large;
}