header {
  background-color: #4DA1FE;
  background-image: url(../img/pattern.png);
  background-size: contain;
  padding-top: 40px;

}
header .box.image {
 width: 15%;
 height: 15%;
}
main h1{
  height: 15px;
}

main .box.square {
  height: 1px;
}

main .box.square p {
  color: #9B9B9B;
}

main .box.square span{
  color: #5FA7C3;
}

main .box.data {
  color: #9B9B9B;
  font-size: smaller;
}
main .box.didascalie {
  font-size: small;
}